<img class="cover" src="https://github.com/FeedInc/highlife-landing-page/blob/main/img/Banner.png?raw=true">
<div class="banner-font" >
  <span>THE</span>
  <span> world’s  #1</span>
  <span> platform for talented young people and beginners who enjoy video games</span>
</div>
<mat-card>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <img class="image-2" src="https://github.com/FeedInc/highlife-landing-page/blob/main/img/dota_tournament.jpg?raw=true">
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-title-group>
      <mat-card-title>E-SPORTS FOR EVERYONE</mat-card-title>
      <mat-card-subtitle>Enjoy an accessible esports environment where gamers of all skill levels engage in daily matches and tournaments for prize money and digital prizes. HighLife also provides pro-division leagues and livestreamed pro tournaments, live broadcasts with commentating by our in-house talents, and other online and offline events. HighLife offers something for everyone.</mat-card-subtitle>
    </mat-card-title-group></mat-grid-tile>

  </mat-grid-list>
</mat-card>
