.mat-body {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: #11304e;
}
.login{
  width: 100%;
  max-width: 330px;
  text-align: center;
}
.mat-input-element{
  width: 80%;
}
