<div class="mat-body ">
  <div class="login">
    <img src="../../../assets/user.png" width="50%">
    <h1>Login</h1>
    <mat-form-field appearance="fill" class="mat-input-element">
      <mat-label>User</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" class="mat-input-element">
      <mat-label>Password</mat-label>
      <input type="password" matInput>
    </mat-form-field>
    <br>
    <button mat-button class="mat-input-element" color="warn">Login</button>
  </div>

</div>


