$cream: rgb(252, 251, 239);
// canvas {
//   width: 400px !important;
//   height: 400px !important;
// }


.chart-card {
  cursor: pointer;
  padding: 20px;
  background-color: $cream;
  border-radius: 20px;
  bottom: 0px;
  transition: all 0.4s ease-in-out;
}

.chart-card:hover {
  position: relative;
  bottom: 10px;
}

.logo-container {
  width: 70px;
  height: 70px;
}

.logo-container > img {
  width: 70px;
}
