$yellow-duck: #FFA737;

.logo{
  display: flex;
  justify-content: center;
}
.logo span {
  font-family: "high-life", sans-serif;
    font-size: 40px;
}

.logo span:nth-child(2),
.logo span:nth-child(1) {
    color: $yellow-duck;

}
.logo span:nth-child(4),
.logo span:nth-child(5) {
  color: rgba(0,0,0,.87);
}

.logo img {
    width: 8px;
}
