$yellow-duck: #FFA737;

.logo span {
    font-family: "high-life";
    font-size: 50px;
}

.logo span:nth-child(2),
.logo span:nth-child(3) {
    color: white;

}

.logo span:nth-child(1),
.logo span:nth-child(5) {
    color: $yellow-duck;
}

.logo img {
    width: 10px;
}